.loader {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  &__item {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #e2e2e2;

    @media (prefers-color-scheme: light) {
      background-color: #1a1a1a;
    }
  }
}

#loader__item-1 {
  animation: dots-move 1s 0.5s infinite;
}

#loader__item-2 {
  animation: dots-move 1s infinite;
}

#loader__item-3 {
  animation: dots-move 1s 0.5s infinite;
}

@keyframes dots-move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
