.header {
  height: 38vh;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 80%),
    url('../../assets/img/header-bg.jpg') center bottom/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  gap: 20px;
  scrollbar-gutter: stable;

  img {
    margin-top: 20px;
    max-width: 200px;
  }

  .search__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
  }

  .error-button {
    background-color: #bf4242;
    border: 1px solid #ff8282;

    &:hover {
      background-color: #702626;
    }
  }
}
